<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue sur myRH</h1>
<p>
  Ton mot de passe est :<%= @password %> <br>
</p>
<p>Merci d'avoir join le site</p>
</body>
</html>